fastapi==0.110.1
uvicorn==0.29.0
sqlalchemy==2.0.29
pydantic==2.7.0
pydantic-settings==2.2.1
psycopg[binary]
alembic==1.13.1
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
python-multipart==0.0.9
scikit-learn==1.4.2
pandas==2.2.1
numpy==1.26.4
matplotlib==3.8.4
seaborn==0.13.2
jinja2==3.1.3
pdfkit==1.0.0
python-dotenv==1.0.1
openpyxl==3.1.2
