@import "tailwindcss";

@theme {
  --color-primary: #1d4ed8;
  --color-secondary: #1e293b;
  --color-accent: #3b82f6;
  --color-background: #f8fafc;
}

@layer base {
  body {
    @apply bg-background text-secondary font-sans antialiased;
  }
}
